@model IEnumerable<DataHelper.LogEntry>

@{
    ViewBag.Title = "Logs";
}

<h3>Logs of Columbus</h3>

@using (Html.BeginForm("Index", "Logs", FormMethod.Get))
{
    <p>
        Text: @Html.TextBox("SearchString") <br />
        Year: @Html.TextBox("Year") <br />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
        </tr>
    }

</table>